configuration {
    fixed-num-lines: true;
    show-icons: true;
    drun-match-fields: "name,generic";

    drun-use-desktop-cache: false;
    kb-cancel: "Escape,Control+g,Control+bracketleft,Control+c";

    timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "nord"
